#vfsforgit-pageHeader {
  background: #0078d7 url("../images/bg-pageheader.png") bottom center no-repeat;
  color: #fff;
  padding-bottom: 48px;
  padding-top: 48px;
}
#vfsforgit-pageHeader img {
  max-width: 100%;
}

@media (max-width: 540px) {
  #vfsforgit-pageHeader img {
    display: none;
  }
  .m-content-placement {
    padding-left: 12px;
    padding-right: 12px;
  }
}
#vfsforgit-howDoesItWork {
  background: #f4f4f4 url("../images/bg-grey-left.png") bottom left no-repeat;
  margin-top: 48px;
  padding-bottom: 48px;
}

#vfsforgit-gitAtScaleArticles {
  background: #f4f4f4 url("../images/bg-grey-right.png") bottom right no-repeat;
  margin-top: 48px;
  padding-bottom: 48px;
}

#vfsforgit-trustedBy {
  background: #f4f4f4;
  margin-top: 48px;
  padding-bottom: 48px;
}
#vfsforgit-trustedBy span {
  display: inline-block;
  margin-top: -36px;
  position: relative;
  top: 36px;
}

#vfsforgit-footer {
  background: #005a9e url("../images/bg-pageheader.png") bottom left no-repeat;
  color: #fff;
  margin-top: 48px;
  padding-bottom: 128px;
}
#vfsforgit-footer a {
  color: #fff;
}

#contentToggleUnorderedList1 li a {
  font-weight: 600;
  font-style: italic;
}

#vfsforgit-attribution {
  background: #f4f4f4;
  color: #666;
  text-align: center;
}
#vfsforgit-attribution .c-paragraph-3 {
  margin: 0;
  padding: 12px 0;
}
#vfsforgit-attribution img {
  display: inline;
  height: 1.25em;
  vertical-align: text-bottom;
}

.m-feature picture {
  margin-bottom: 32px;
}

.vfsforgit-videoWrapper {
  position: relative;
  width: 390px;
  height: 220px;
  margin: 25px 0 0 50px;
}
.vfsforgit-videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vfsforgit-monospace {
  font-family: monospace;
}

.vfsforgit-tableHighlight {
  background-color: #eff6fc;
}

.m-content-placement p .c-hyperlink,
.m-content-placement-item p .c-hyperlink {
  padding: 0;
}
